<div class="routine-page-container">
  <header class="page-header">
    <a routerLink="/historico" class="back-link">
      <span class="material-icons">arrow_back</span>
    </a>
  </header>

  <main class="routine-card">
    <div class="routine-header">
      <h2>Sua rotina de hoje: <br><span>Gerada pela iAgenda</span></h2>
    </div>

    <div *ngIf="atividades$ | async as atividades; else emptyState" class="routine-list">
      <div
        *ngFor="let atividade of atividades"
        class="routine-item"
        [style.backgroundColor]="atividade.corFundo"
      >
        <div class="item-info">
          <span class="item-title">{{ atividade.titulo }} {{ atividade.horario }} {{ atividade.emoji }}</span>
        </div>
        <div class="item-actions">
          <button
              class="status-button"
              (click)="toggleStatus(atividade)"
              [ngClass]="{ 'realizada': atividade.realizada }"
              [style.borderColor]="atividade.cor"
              [style.backgroundColor]="atividade.realizada ? atividade.cor : 'transparent'"
          >
              <span class="check-icon">✓</span>
          </button>
        </div>
      </div>
    </div>

    <ng-template #emptyState>
      <div class="empty-state">
        <p>Nenhuma rotina foi gerada ainda. Volte para o planejador para criar uma!</p>
      </div>
    </ng-template>
  </main>
</div>